<manifest package="com.sobot.chat"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true">
        <activity
            android:name="com.sobot.chat.activity.SobotChatActivity"
            android:theme="@style/sobot_AppTheme"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sobot.chat.activity.SobotPhotoActivity"
            android:theme="@style/sobot_AppTheme"
            android:configChanges="orientation|keyboardHidden"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sobot.chat.activity.WebViewActivity"
            android:theme="@style/sobot_AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sobot.chat.activity.DCRCActivity"
            android:screenOrientation="portrait"
            android:theme="@style/sobot_dialog_dcrc"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sobot.chat.activity.SobotSkillGroupActivity"
            android:theme="@style/sobot_dialog_skill" />
        <activity
            android:name="com.sobot.chat.activity.SobotPostMsgActivity"
            android:theme="@style/sobot_AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sobot.chat.activity.SobotPhotoListActivity"
            android:theme="@style/sobot_AppTheme"
            android:configChanges="orientation|keyboardHidden"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <service
            android:name="com.sobot.chat.core.channel.SobotTCPServer"
            android:label="SobotChatTCPServer"
            android:exported="false">
        </service>
        <service android:name="com.sobot.chat.server.SobotSessionServer"/>
    </application>

</manifest>